.word-type__toggles {
	display: table;

	width: 0;
	margin: 0;
	margin-top: 1.25em;
	border-top: 1px solid #eee;
	padding: 0;

	list-style-type: none;
}

.word-type__toggle {
	padding: 0.5em 0;
	white-space: nowrap;
}

.word-type__checkbox,
.word-type__label {
	display: inline-block;
	vertical-align: middle;
}

.word-type__checkbox + .word-type__label {
	margin-left: 0.75em;
}

.word-type__checkbox {
	transition: 0.15s all ease;

	position: relative;

	width: 1.35em;
	height: 1.35em;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.02);
	background-color: #fff;
	appearance: none;
}

.word-type__checkbox:hover,
.word-type__checkbox:focus {
	transition: 0.15s all ease;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
}

.word-type__checkbox::before {
	transition: 0.15s all ease;

	content: "";

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 0;
	height: 0;
	background-color: #333;
}

.word-type__checkbox:checked::before {
	transition: 0.15s all ease;

	width: 0.65em;
	height: 0.65em;
}

.word-type__label {
	color: #555;
}
