.word-input {
	border: 0;
	margin: 0;
	padding: 0;
}

.word-input__label,
.word-input__input {
	display: block;
}

.word-input__label {
	margin-bottom: 1em;

	text-align: center;
	font-size: 6vmin;
	font-weight: 700;
	color: #222;
}

.word-input__character {
	background-color: transparent;
}

.word-input__character--wrong {
	background-color: rgba(231, 76, 60, 0.5);
}

.word-input__character--right {
	background-color: rgba(46, 204, 113, 0.5);
}

.word-input__input {
	width: 35vw;
	border: none;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.02);
	padding: 1.25em 1.25em;
	background-color: #fafafa;

	font-size: 3vmin;
	color: #333;
}

.word-input__input:hover,
.word-input__input:focus {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
}
